.screen-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--horizontal-space);
    margin-bottom: 15px;
}

.screen-header__title {
    font-size: 32px;
    font-weight: 600;
}

.screen-header__icons span {
    margin-left: 20px;
}

@keyframes rotateCog {
    from {
        transform: none;
    }
    to {
        transform: rotateZ(360deg);
    }
}

.screen-header__icons .fa-cog:hover {
    animation: rotateCog 1s linear infinite;
}

.screen-heade__icons-cog {
    position: relative;
}

.cog-state {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    font-weight: 600;
    border-radius: 15px;
    width: 7px;
    height: 7px;
    bottom: 15px;
    color: white;
    left: 2.5px;
    bottom: 20px;
    background-color: tomato;
}